<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="pridejs-config-duration" content="always" />
    <title>Pride Halo | Add a halo to your avatar picture to celebrate Pride</title>
    <link href="index.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="https://unpkg.com/tachyons@4.10.0/css/tachyons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/dom-to-image@2.6.0/src/dom-to-image.js"></script>
    <script src="https://unpkg.com/vue-picture-input"></script>
  </head>
  <body>
    <main class="bg-near-white vh-100 pa3 sans-serif" id="app">
      <div class="flex flex-column justify-center items-center">
        <label for="image">Enter image URL</label>
        <input id="image" class="ba br1 b--silver dark-gray pa3 ma3 w-50" v-model="url">
        <div :class="picked" class="br-100 h5 w5 overflow-hidden flex items-center justify-center" id="pride-avatar">
        <picture-input
            @change="onChange"
            width="400"
            height="400"
            margin="16"
            button-class="dn"
            accept="image/jpeg,image/png">
        </picture-input>
        </div>
      </div>

      <form class="flex flex-wrap center justify-around w-50 mv3">
          <div class="dib pv2 mr3">
            <input v-model="picked" name="halo" value="rainbow" id="rainbow" type="radio" />
            <label for="rainbow" class="f6 fw5 ml1">
              Rainbow Flag
            </label>
          </div>
          <div class="dib pv2">
            <input v-model="picked" name="halo" value="bi" id="bi" type="radio" />
            <label for="bi" class="f6 fw5 ml1">
              Bi Flag
            </label>
          </div>
        </form>
        <button @click="printPng">Save</button>
      </main>
    <script src="index.js"></script>
    <script src="https://cdn.neop.me/gay-pride.js/pride.js"></script>
  </body>
</html>
