.picture-input, .picture-input > div, .preview-container {
  width: 100% !important;
  height: 100% !important;
}

.picture-input {
  position: relative !important;
}

.picture-inner {
  position: absolute !important;
  top: 0 !important;
  border: none !important;
  border-radius: 100% !important;
}

.preview-container {
  margin: 0 !important;
  max-width: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-preview {
  border: 4px solid white;
  border-radius: 100%;
  width: 90% !important;
  height: 90% !important;
}

/* === === === === === */

.bi {
  background: linear-gradient(0deg, rgba(255,0,106,1) 0%, rgba(142,56,143,1) 50%, rgba(0,16,255,1) 100%);
}

.rainbow {
      background: rgb(252,0,0);
background: linear-gradient(90deg, rgba(252,0,0,1) 0%, rgba(252,94,13,1) 12%, rgba(242,238,41,1) 25%, rgba(85,158,43,1) 44%, rgba(63,73,214,1) 63%, rgba(121,40,175,1) 84%, rgba(191,33,250,1) 100%);

}
